<h1>Edit user</h1>

<%= form_for(@user) do |f| %>
  <%= render 'layouts/error_message.html' %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
